




    .client_login
    {
        background-color: rgba(27, 3, 59, 0.999);
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        /* position: absolute;
        left:600px; */
        align-items: center;
        color: aliceblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        
}